/* inika-regular - latin */
@font-face {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inika-v21-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/inika-v21-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/inika-v21-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/inika-v21-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/inika-v21-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/inika-v21-latin-regular.svg#Inika') format('svg'); /* Legacy iOS */
  }
  /* inika-700 - latin */
  @font-face {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inika-v21-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/inika-v21-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/inika-v21-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/inika-v21-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/inika-v21-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/inika-v21-latin-700.svg#Inika') format('svg'); /* Legacy iOS */
  }
/* inter-regular - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v12-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/inter-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/inter-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/inter-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/inter-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/inter-v12-latin-regular.svg#Inter') format('svg'); /* Legacy iOS */
  }
  /* inter-700 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inter-v12-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/inter-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/inter-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/inter-v12-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/inter-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/inter-v12-latin-700.svg#Inter') format('svg'); /* Legacy iOS */
  }
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: #636060;
}
img {
    max-width: 100%;
    height: auto;
}
.wrapper {
    max-width: 1220px;
    margin: 0 auto;
}

/* Header styles start */

.header {
    background-color: #EDF2EC;
}
.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 124px;
}
.header__logo {
     padding-bottom: 10px;
}
.header__logo-link {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    color: #000000;

    font-family: 'Inika';
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    
}
.header__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.header__item {
    margin-right: 47px;    
}
.header__item:last-child {
    margin-right: 0;
}
.header__link{
    font-family: 'Inika';
    font-weight: 400;
    line-height: 50px;
    color: #010201;
    text-decoration: none;
}
.header__link:hover, .header__link:focus, .header__link:active {
    color: #E06733;
}
.header__burger {
    display: none;
    width: 40px;
    height: 24px;
    position: relative;
}
.burger__line {
    display: block;
    width: 100%;
    border: 1px solid #717171;
    position: absolute;
    left: 0;
}
.burger__line_first {
    top: 0;
}
.burger__line_second {
    top: 33%;
}
.burger__line_third {
    top: 66%;
}
.burger__line_fourth {
    top: 100%;
}

/* Header styles end */

/* Main - Welcome styles start */

.welcome__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 532px;
    background-color: #EDF2EC;
}
.welcome__img {
    width: 448.8px;
    height: 407.36px;
}
.welcome__title {
    margin-top: 98px;
    max-width: 549px;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #717171;
    margin-bottom: 44px;
}
.welcome__title-plants {
color: #499A18;
}
.welcome {
    background-color: #EDF2EC;
}
.welcome__subtitle {
    max-width: 525.44px;
    font-size: 20px;
    line-height: 35px;
    color: #636060;
    margin-bottom: 49px;
}
.welcome__button {
    width: 158px;
    height: 44px;
    font-size: 16px;
    padding: 14px 24px;
    text-transform: uppercase;
    color: #000000;
    border: 2px solid #E06733;
    border-radius: 10px;
    margin-bottom: 94px;
    transition: 0.4s;    
}
.welcome__button:hover, .header__link:focus, .header__link:active {
    background-color: #E06733;
    color: #FFFFFF;
}

/* Main - Welcome styles end */

/* Main - About styles start */

.about__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 666px;
}
.about__title {
    max-width: 463px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    margin-bottom: 40px;
    color: #499A18;
}
.about__title-plants {
    color: #E06733;
}
.about__subtitle {
    font-size: 20px;
    line-height: 30px;
    max-width: 605px;        
}
.about__img {
    left: 867px;
    top: 93px;
}

/* Main - About styles end */

/* Main - Service styles start */

.service {
    background: #EDF2EC;
}
.service__wrapper {
    height: 1300px;
}
.service-projects__wrapper {
    display: flex;
    flex-wrap: wrap;
}
.service-projects__title {
    margin-top: 40px;
    max-width: 306px;
    font-family: 'Inika';
    font-weight: 400;
    font-size: 40px;
    line-height: 52.12px;
    color: #499A18;
    margin-bottom: 80px;
}
.service__button {
    min-width: 559px; 
    margin-top: 72px;
    margin-left: 138px;
}
.service__button-item {
    width: 161px;
    height: 50px;
    padding: 12px 40px;
    font-family: 'Inika';
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #E06733;
    border: 1px solid #E06733;
    border-radius: 5px;
    margin-right: 34px;
    transition: 0.4s; 
}
.service__button-item:hover, .service__button-item:focus, .service__button-item:active {
    background-color: #E06733;
    color: #FFFFFF;
}
.service-cards__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    height: 955px;
}
.service-card__img {
    border-radius: 20px 20px 0px 0px;
}
.service-card_title {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #E06733;
    margin: 6px 105px;
    text-align: center;
}
.service-card__subtitle {
    margin: 14px 29px;
}
.service-card__border {
    height: 450px;
    border: 1px solid #E3E1D5;
    border-radius: 20px 20px 20px 20px;
}

/* Main - Service styles end */

/* Main - Price styles start */

.price__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 560px;
}
.price__title {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
    margin-top: 40px;
    margin-bottom: 60px;
}
.price__wrap {
    width: 332px;
    height: 282.01px;
    left: 109px;
    top: 149px;
    border: 1px solid #E3E1D5;
    border-radius: 20px;    
}
.price__buttons {
    margin: 34px 42px;
}
.price__button-item {
    width: 250px;
    height: 50px;
    border: solid #EDF2EC;
    border-radius: 20px;
    margin-bottom: 32px;

    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    text-align: left;
    padding-left: 35px;
}
.price__icon {
    position: absolute;
    width: 16px;
    height: 16px;
    margin-left: 194px;
    margin-top: 17px;
}
.price__subtitle {
    width: 452px;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: right;
    color: #000000;
    margin-top: 40px;
    margin-bottom: 42px;
}
.price__subtitle-gardeners {
    color: #499A18;
}
.price__contact-button {
    width: 162px;
    height: 50px;
    border: 1px solid #E06733;
    border-radius: 5px;
    margin-left: 290px;

    font-family: 'Inika';
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #E06733;
    background-color: #FFFFFF;
    transition: 0.4s; 
}
.price__contact-button:hover, .price__contact-button:focus, .price__contact-button:active {
    background-color: #E06733;
    color: #FFFFFF;
}
.price__contact-img {
    width: 152px;
    height: 174.99px;
    margin-left: 300px;
    margin-top: 40px;
}

/* Main - Price styles end */

/* Main - Contacts styles start */

.contacts {
    background: #EDF2EC;
    height: 550px;
}
.contacts__wrapper-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contacts__title {
    width: 195px;
    height: 51px;
    margin-top: 60px;
    
    font-family: 'Inika';
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    margin-bottom: 37px;
}
.contacts__wrapper-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contacts__img {
    position: relative;
    width: 400px;
    height: 496.99px;
    bottom: 95px;
}
.contacts__button-item {
    height: 50px;
    width: 450px;
    background: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;  
    border: 0 solid #717171;
   
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #717171;
    text-align: left;
    padding-left: 20px;
}
.contacts__icon {
    position: absolute;
    width: 16px;
    height: 16px;
    margin-left: 399px;
    margin-top: 17px;
}

/* Main - Contacts styles end */

/* Footer styles start */

.footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 130px;

    font-size: 20px;
    line-height: 50px;
    color: #000000;
}
.footer__data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 182px;
    padding-right: 14px;
   
}
.footer__courses {
 margin-left: 44px;
}
.footer__link {
    text-decoration: none;
    color: #000000;
}
.footer__social-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    width: 228px;
    margin-top: 36px;  
}

/* Footer styles end */

/* Media start */

@media screen and (max-width: 768px) {
    .wrapper {
        max-width: 668px;
    }  
    .header__wrapper {
        height: 107px;
    }
    .header__logo {
        padding-bottom: 5px;
    }
    .header__logo-pic {
        padding-bottom: 5px;
    } 
    .welcome__wrapper {
        flex-direction: row-reverse;
        height: 420px;
        margin-left: 2px;
    }
    .welcome__img {
        width: 280px;
        height: 254.15px; 
        margin-bottom: 110px;
    }
    .welcome__title {
        margin-top: 45px;
        max-width: 341px;
        font-size: 35px;
        margin-bottom: 28px;
    }
    .welcome__subtitle {
        max-width: 341px;
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 34px;
    }
    .about__wrapper {
        justify-content: center;
        height: 783px;
    }
    .about__title {
        margin-top: 35px;
        margin-left: 122px;
        max-width: 423px;
        font-size: 35px;
        line-height: 46px;
        text-align: center;
        margin-bottom: 51px;
    }
    .about__subtitle {
        margin-bottom: 52px;
        max-width: 668px;        
    }
    .about__img {
        margin-bottom: 85px;
        width: 250px;
        height: 258px;
    }
    .service__wrapper {
        height: 1780px;
    }
    .service-projects__wrapper {
        justify-content: flex-start;
    }
    .service-projects__title {
        margin-top: 60px;
        font-size: 35px;
        line-height: 46px;
        margin-bottom: 44px;
    }
    .service__button {
        margin-top: 0px;
        margin-left: 0px;
        margin-bottom: 38px;
    }
    .service-cards__wrapper {
        height: 1426px;
    }
    .service-card__img {
        height: 350px;
    }
    .service-card_title {
        margin: 6px 0px;
    }
    .service-card__subtitle {
        margin: 11px 29px;
        text-align: center;
    }
    .service-card__border {
        width: 281px;
    }
    .price__wrapper {
        height: 585px;
    }
    .price__title {
        font-size: 35px;
        line-height: 42px;
        margin-top: 43px;
        margin-left: 15px;
        margin-bottom: 56px;
    }
    .price__subtitle {
        width: 296px;
        font-size: 25px;
        line-height: 35px;
        margin-top: 142px;
        margin-left: 40px;
        margin-bottom: 28px;
    }
    .price__contact-button {
        margin-left: 174px;
    }
    .price__contact-img {
        margin-left: 184px;
        margin-top: 36px;
    }
    .contacts {
        height: 739px;
    }
    .contacts__title {
        margin-top: 42px;
        margin-bottom: 100px;
    }
    .contacts__wrapper-content {
        display: flex;
        flex-direction: column-reverse;
    }
    .contacts__img {
        margin-top: 344px;
        margin-left: 244px;
        width: 200px;
        height: 248.49px;
    }
    .contacts__button-item {
        margin-left: 109px;
    }
    .contacts__icon {
        margin-left: 508px;
    }
    .footer__wrapper {
        flex-direction: column;
        height: 181px;
    }
    .footer__data {
        position: relative;
        left: 4px;
        top: 20px;
        padding-right: 10px;
    }
    .footer__courses {
        position: relative;
        right: 24px;
        top: 6px;
    }
    .footer__social-list {
        position: relative;
        top: 12px;
        margin-top: 0px;  
        margin-right: 40px;
    }
}

@media screen and (max-width: 380px) {
   /* .body {
        width: 380px;
    }
    .wrapper {
        max-width: 330px;
    }*/
    .header__burger {
        display: block;
    } 
    .header__nav {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #EDF2EC;
        z-index: 10;
        padding: 75px;
        transform: translateX(100%);
        transition: .2s all linear;
    } 
    .header__nav_active {
        transform: translateX(0);
    }
    .header__item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }
    .header__item:last-child {
        margin-bottom: 0;
    }
    .header__link {
        font-size: 40px;
        line-height: 50px;
    }
    .header__nav-close {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 36px;
        right: 25px;
        z-index: 11;
    }
    .header__nav-close-line {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #000000;
        position: absolute;
        top: 50%;
    }
    .header__nav-close-line:first-child {
        transform: translateY(-50%) rotate(45deg);
    }
    .header__nav-close-line:last-child {
        transform: translateY(-50%) rotate(-45deg);
    }
}

/* Media end */