/* inika-regular - latin */
@font-face {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inika-v21-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/inika-v21-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/inika-v21-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/inika-v21-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/inika-v21-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/inika-v21-latin-regular.svg#Inika') format('svg'); /* Legacy iOS */
  }
  /* inika-700 - latin */
  @font-face {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inika-v21-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/inika-v21-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/inika-v21-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/inika-v21-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/inika-v21-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/inika-v21-latin-700.svg#Inika') format('svg'); /* Legacy iOS */
  }
/* inter-regular - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v12-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/inter-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/inter-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/inter-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/inter-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/inter-v12-latin-regular.svg#Inter') format('svg'); /* Legacy iOS */
  }
  /* inter-700 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inter-v12-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/inter-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/inter-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/inter-v12-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/inter-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/inter-v12-latin-700.svg#Inter') format('svg'); /* Legacy iOS */
  }
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    width: 1440px;
    margin: 0 auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: #636060;
}
.wrapper {
    max-width: 1220px;
    margin: 0 auto;
}

/* Header styles start */

.header {
    background-color: #EDF2EC;
}
.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 134px;
    left: 0px;
    top: 0px;
}
.header__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.header__item {
    margin-right: 46px;    
}
.header__item:last-child {
    margin-right: 0;
}
.header__link{
    font-family: 'Inika';
    font-weight: 400;
    line-height: 50px;
    color: #010201;
    text-decoration: none;
}
.header__link:hover, .header__link:focus, .header__link:active {
    color: #E06733;
}

/* Header styles end */

/* Main - Welcome styles start */

.welcome__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 532px;
    background-color: #EDF2EC;
    
}
.welcome__img {
    width: 448.8px;
    height: 407.36px;
    left: 109px;
    top: 62px; 
}
.welcome__title {
    margin-top: 98px;
    max-width: 549px;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #717171;
    margin-bottom: 42px;
}
.welcome__title-plants {
color: #499A18;
}
.welcome {
    background-color: #EDF2EC;
}
.welcome__subtitle {
    max-width: 525.44px;
    font-size: 20px;
    line-height: 35px;
    color: #636060;
    margin-bottom: 48px;
}
.welcome__button {
    width: 158px;
    height: 44px;
    font-size: 15px;
    padding: 14px 27px;
    text-transform: uppercase;
    color: #000000;
    border: 2px solid #E06733;
    border-radius: 10px;
    margin-bottom: 94px;
    
}
.welcome__button:hover, .header__link:focus, .header__link:active {
    background-color: #E06733;
    color: #FFFFFF;
}

/* Main - Welcome styles end */

/* Main - About styles start */

.about__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 666px;
}
.about__title {
    max-width: 463px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    margin-bottom: 40px;
    color: #499A18;
}
.about__title-plants {
    color: #E06733;
}
.about__subtitle {
    font-size: 20px;
    line-height: 30px;
    max-width: 605px;        
}
.about__img {
    left: 867px;
    top: 93px;
}

/* Main - About styles end */

/* Main - Service styles start */

.service {
    background: #EDF2EC;
}
.service__wrapper {
    height: 1300px;
}
.service-projects__wrapper {
    display: flex;
    flex-wrap: wrap;
}
.service-projects__title {
    margin-top: 40px;
    max-width: 306px;
    font-family: 'Inika';
    font-weight: 400;
    font-size: 40px;
    line-height: 52.12px;
    color: #499A18;
    margin-bottom: 80px;
}
.service__button {
    min-width: 559px; 
    margin-top: 69px;
    margin-left: 142px;
}
.service__button-item {
    width: 161px;
    height: 50px;
    padding: 12px 40px;
    font-family: 'Inika';
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #E06733;
    border: 1px solid #E06733;
    border-radius: 5px;
    margin-right: 34px;
}
.service__button-item:hover, .service__button-item:focus, .service__button-item:active {
    background-color: #E06733;
    color: #FFFFFF;
}
.service-cards__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    height: 955px;
}
.service-card__img {
    border-radius: 20px 20px 0px 0px;
}
.service-card_title {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #E06733;
    margin: 5px 105px;
    text-align: center;
}
.service-card__subtitle {
    margin: 14px 31px;
}
.service-card__border {
    height: 450px;
    border: 1px solid #E3E1D5;
    border-radius: 20px 20px 20px 20px;
}

/* Main - Service styles end */

/* Main - Price styles start */

.price__wrapper {
    height: 560px;
}
.price__title {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
    margin-top: 40px;
}
